extends ./layoutindexx.jade
block contenido
	section#encontrador
		form(style='text-align: center;' id="sear" name="sear", action='/filtross', method='POST', label='')
			div
				input(placeholder="UBICACIÓN" type="search" id="buscain" name="buscain" list="datos" value="#{filtro[2]}")
				datalist(id="datos" required)
					option(value="Oficina Privada" ) 
					option(value="Escritorio compartido" )
					option(value="Escritorio dedicado" )
					option(value="Auditorio")
					option(value="sala de Juntas" )
					option(value="Usaquen")
					option(value="Chapinero")
					option(value="Santa Fe")
					option(value="San Cristóbal")
					option(value="Usme")
					option(value="Tunjuelito")
					option(value="Bosa")
					option(value="bogota")
					option(value="Kennedy")
					option(value="Fontibon")
					option(value="Engativa")
					option(value="Suba")
					option(value="Barrios Unidos")
					option(value="Teusaquillo")
					option(value="Los Martires") 
					option(value="Antonio Nariño")
					option(value="Puente Aranda")
					option(value="La Candelaria")
					option(value="Rafael Uribe Uribe")
					option(value="Ciudad Bolivar")
					option(value="Sumapaz")
			div
				select(type="text", name="tipoin", placeho der="es local ", id="tipoin", class"form-control" value="#{filtro[3]}" )
					option(value="privada" selected="Privadada") Oficina Privada
					option(value="Compratido" selected="Compratido") Escritorio Compratido
					option(value="Dedicado" selected="Dedicado") Escitorio Dedicado
					option(value="Auditorio" selected="Auditorio") Auditorio
					option(value="Sala" selected="Sala") Sala de juntas
					option(value="" selected="selected" style="display:none;") Tipo de epacio	
			div
				select(type="text", name="preriodin", placeho der="es local ", id="preriodin", class"form-control" value="#{filtro[4]}")
					option(value="Hora" selected="Hora") Hora
					option(value="Dia" selected="dia") Dia
					option(value="Semana" selected="semana") Semana
					option(value="Mes" selected="mes") Mes
					option(value="Año" selected="ano") Año
					option(value="" selected="" style="display:none;") Periodo
			div
				select(type="text" name="rangoin" id="rangoin" class="rangoin")
					option(value="0a5" selected="Hora") de $ 0 a $ 500.000 
					option(value="5a10" selected="dia") de $ 500.001 a $ 1.000.000 
					option(value="10a25" selected="semana") de $ 1.000.001 a $ 2.500.000
					option(value="25a50" selected="mes") de $ 2.500.001 a $ 5.000.000
					option(value="mas50" selected="ano") Más $ 5.000.000
					option(value="" selected="" style="display:none;") Rango precios
				div
					input.imputts(value='Buscar', type='submit')
	.containers
			for imagen in imagenes
				if imagen.Localidad == filtro[2]
					if imagen.tipo == filtro[3]
						if imagen.preriodo1 == filtro[4]
							if imagen.precio >= filtro[5]
								div(class="ubicacion2")
										img(src="/public/imagenes/#{imagen._id}.#{imagen.extension}")
										a(href="/detalle/#{imagen.creator.username}/#{imagen.creator._id}" class="ordenado")
											p=imagen.dlugar
											p="$"+imagen.precio1+"/"+imagen.preriodo1
							else
								div
									p Ups, no encontramos resúltados a tu busqueda 
								div
									img(src="/public/imagenes/img/icon/Iconos-04.png")
								div
									p Intenta cambiando alguno de los filtros y volvamos a intentarlo
								div
									img(src="/public/imagenes/img/icon/Iconos-05.png")




	script(type='text/javascript', src='../../public/js/bootstrap.js')
		script(type='text/javascript', src='../../public/js/bootstrap.min.js')
		script(type='text/javascript', src='../../public/js/jquery.min.js')
		script(type='text/javascript', src='../../public/js/jquery.min.v1.js')
		script(type='text/javascript', src='/public/js/cambio.js')