extends ./imagenes/layoutofi.jade
block contenido 
			.coreccion
				#Pizza
				.risponsive2
						for imagen in imagenes
							if imagen.id == filtro
								p
									img(src="/public/imagenes/img/icon/pin.png" style="width: 50px; height: 50px; margin:10px; padding: 5px;")
									="Ciudad/"+imagen.Localidad+"/"+imagen.dir 
								section.one-time(id="cosas") 
										if imagen.extension != "noesta"
											img(src="/public/imagenes/#{imagen._id}.#{imagen.extension}" alt="#{imagen.dir}" title="#{imagen.dir}")
										if imagen.extension1 != "noesta"
											img(src="/public/imagenes/#{imagen._id}s.#{imagen.extension1}" alt="#{imagen.dir}" title="#{imagen.dir}")
										if imagen.extension2 != "noesta"
											img(src="/public/imagenes/#{imagen._id}t.#{imagen.extension2}" alt="#{imagen.dir}" title="#{imagen.dir}")
										if imagen.extension3 != "noesta"
											img(src="/public/imagenes/#{imagen._id}u.#{imagen.extension3}" alt="#{imagen.dir}" title="#{imagen.dir}")
										if imagen.extension4 != "noesta"
											img(src="/public/imagenes/#{imagen._id}v.#{imagen.extension4}" alt="#{imagen.dir}" title="#{imagen.dir}")
								.risponsive
									div(id="da" name="da")
										if  imagen.preriodo == "Mes" 
												p="Ciudad "+imagen.tipo+" $ "+imagen.precio+" "+imagen.periodo
										if  imagen.preriodo1 == "Mes" 
												p="Ciudad "+imagen.tipo+" $ "+imagen.precio1+" "+imagen.preriodo1
										if  imagen.preriodo2 == "Mes" 
												p="Ciudad "+imagen.tipo+" $ "+imagen.precio2+" "+imagen.periodo2
										if  imagen.preriodo3 == "Mes"
												p="Ciudad "+imagen.tipo+" $ "+imagen.precio3+" "+imagen.preriodo3
										if  imagen.preriodo4 == "Mes"
												p="Ciudad "+imagen.tipo+" $ "+imagen.precio4+" "+imagen.preriodo4
									div
										h2 Servicios especificos
									div(id="especificos" name="especificos")
										if  imagen.radio1 == "on" 
												div
													img(src="/public/imagenes/img/icon/Iconos-13.png")
													p internet
										if  imagen.radio1 == "on" 
												div
													img(src="/public/imagenes/img/icon/Iconos-12.png")
													p Puestos
													p=imagen.radio5 
										if  imagen.radio8 == "on" 
												div
													img(src="/public/imagenes/img/icon/Iconos-11.png")
													p Telefono
										if  imagen.radio2 == "on" 
												div
													img(src="/public/imagenes/img/icon/Iconos-10.png")
													p limpieza
										if  imagen.radio9 == "on" 
												div
													img(src="/public/imagenes/img/icon/Iconos-06.png")
													p Dia gratis de prueba
										if  imagen.radio3 == "on" 
												div
													img(src="/public/imagenes/img/icon/Iconos-09.png")
													p TV
										if  imagen.radio4 == "on" 
												div
													img(src="/public/imagenes/img/icon/Iconos-08.png")
													p Tablero
										if  imagen.radio7 == "on" 
												div
													img(src="/public/imagenes/img/icon/Iconos-15.png")
													p Interior
										if  imagen.radio10 == "on" 
												div
													img(src="/public/imagenes/img/icon/Iconos-07.png")
													p mesa de trabajo
									div(id="dlugar" name="dlugar")
										p=imagen.dlugar
									div(id="generales2" name="generales2")
										div(id="generales" name="generales")
											h2 Servicios generales
											if  imagen.radio11 == "on" 
												p - Cocina
											if  imagen.radio12 == "on" 
												p - Recepcion
											if  imagen.radio13 == "on" 
												p - Sala de juntas 
											if  imagen.radio14 == "on" 
												p - Centro de copiado/ Imapresoras
											if  imagen.radio15 == "on" 
												p - Parqueadero
											if  imagen.radio16 == "on" 
												p - Horario 24/7
											if  imagen.radio17 == "on" 
												p - Espacio compartido
											if  imagen.radio18 == "on" 
												p - Discapacitados
										div(id="generales" name="generales")
											if  imagen.radio19 == "on" 
												p - Bicicletero
											if  imagen.radio27 == "on" 
												p - Catering
											if  imagen.radio20 == "on" 
												p - Cafe 
											if  imagen.radio21 == "on" 
												p - Agua
											if  imagen.radio22 == "on" 
												p - Servicio de correo
											if  imagen.radio23 == "on" 
												p - Restaurante
											if  imagen.radio24 == "on" 
												p - Pet friendly
											if  imagen.radio25 == "on" 
												p - Proyector
											if  imagen.radio26 == "on" 
												p - Bodega/almacenamiento 
									div
											form(action='/app/envio2', method='POST' )
												.roww
													input#name.field(type='text' name='name' placeholder='Nombre' value="#{imagen.creator.username}" style="display:none;")
												.roww
													input#email.field(type='text', name='email', placeholder='Correo electrónico' style="display:none;")
												.roww
													input#ciudad.field(type='text', name='ciudad', placeholder='Ciudad' value="#{imagen.Localidad}" style="display:none;")
												.roww
													input#telefono.field(type='text', name='telefono', placeholder='Teléfono' style="display:none;")
												.roww
												input#mensaje( name='mensaje',placeholder='Mensaje'  value="http://localhost:5002/detalle/#{filtro}" style="display:none;")
												input(type='hidden', name='adwords', value='2' style="display:none;")
												.roww
													input#email2.field(type='text', name='email2', placeholder='Teléfono'  style="display:none;")
											input#sendMessage.envia(type='submit', value='AGENDA TU VISITA' style="background-color: #ffda00; color: #999; padding: 3px; float: initial; margin: 10px 10px 10px 38%; height: auto; width: auto; font-size: 30px; box-decoration-break: none; box-shadow: none; border-style: none;")
				div(id="sibus" class="sibus")
				div(id="nobus" class="nobus")
				div
					.overlay-container
						.window-container.zoomout
							.sesions
								p(style="color:#fff;" id="creacu" ) Contacto
									span(class="close") X
								form(action="envio3", method="POST", id="for" class="for")
												div(class="form-group" style="")
													label(for="name") Nombre completo
													input(type="text", name="name", placeholder="nombre", id="name", class"form-control")
												div 
													label(for="correo2") Correo
													input(type="text", name="correo2", placeholder="Correo", id="correo2", class"form-control")
												div 
													label(for="tel") Telefono
													input(type="text", name="tel", placeholder="Telefono", id="tel", class"form-control")
												div 
													label(for="asunto") Asunto
													select(type="text", name="asunto", placehoder="", id="asunto", class"form-control") 
														option(value="Busco"  selected=" Busco") Busco oficina  
														option(value="Publicar"  selected="Publicar") Publicar oficina
														option(value="Otro"  selected="Otro")  Otro
														option(value=""  selected="" style="display:none;")  --Selecciona--
												div 
													label(for="mess") Mensaje
													textarea(type="text", name="mess", placeholder="", id="mess", class"form-control" style="width:100%; height:100px; background-color:#E8E8E8;")
												div 
													input(type="submit" value="Enviar" id="send" clas="send")
													span(class="close") Cancelar
						.window-container.zoomin
							.sesions
								p(style="color:#fff;" id="creacu" ) Ingresar
									span(class="close") X
								form(action="session", method="POST", id="for" class="for")
									div(class="form-group" style="padding-top: 30px; ")
										label(for="email") Correo
										input(type="text", name="email", placeholder="Email", id="email", class"form-control")
									div 
										label(for="password") Contraseña
										input(type="password", name="password",placeholder="Contrasña", id="password" class"form-control" )
									div 
										input(type="submit" value="Ingresar" id="send" clas="send")
									div
										p(style="padding-left: 25%") Nuevo en workey? 
												input.rrs(value='Crea una cuenta' data-type="rrr")
					.overlay-container2
						.window-container2.rrr
							.sesions
								p(style="color:#fff;" id="creacu" ) INSCRIBIRSE
									span(class="close") X
								form(action="users", method="POST"  name="fors" id="fors" class="fors")
									div(class="form-group")
										label(for="email") Email 
										input(type="email", name="email", placeholder="Email", id="email", class"form-control" title="por el correo" required) 
									div 
										label(for="username") Nombre Completo
										input(type="text", name="username",placeholder="Dime tu username", id="username" class"form-control"  required)
									div 
										label(for="password")  Contraseña
										input(type="password", name="password",placeholder="Contraseña", id="password" class"form-control" required )
									div 
										label(for="password") Confirma tu Contraseña
										input(type="password", name="password_confirmation",placeholder="Confirma Contraseña", id="password" class"form-control" required)
									div 
										label(for="telefono") telefono
										input(type="text", name="telefono",placeholder="Dime tu Telefono", id="telefono" class"form-control"  required)
									div 
										label(for="nit") Cedula o NIT
										input(type="text", name="nit",placeholder="Dime tu nit o tu cc", id="nit" class"form-control",  required, onchange="val()")
									div(style="display:none;") 
										label(for="subirinfo")
										input(type="text", name="subirinfo",id="subirinfo" value="true")
									div 
										input(type="submit" value="INSCRIBIRSE" class="btn btn-info" id="send" clas="send")
			script(type='text/javascript', src='/public/js/jquery.min.v1.js')
			script(type='text/javascript', src='/public/js/bootstrap.min.js')
			script(type='text/javascript', src='/public/js/cambio.js')
			script(src='/public/slick/slick.min.js', type='text/javascript', charset='utf-8')
			script(type='text/javascript').
				$(document).on('ready', function() {
				$('.one-time').slick({
				dots: true,
				infinite: true,
				speed: 900,
				slidesToShow: 1,
				adaptiveHeight: true,
				fade:true,
				autoplay: true,
				autoplaySpeed: 9900,
				});
				$('.slider-for').slick({
				slidesToShow: 1,
				slidesToScroll: 1,
				arrows: false,
				fade: true,
				asNavFor: '.slider-nav',
				centerMode: true, focusOnSelect: true,autoplay: true, autoplaySpeed: 45000, });
				$('.slider-nav').slick({
				slidesToShow: 4,slidesToScroll: 1,
				asNavFor: '.slider-for',centerMode: false,
				focusOnSelect: true
				});
				$('.single-item').slick();
				});
			script(type='text/javascript').
				twttr.widgets.createTimeline({
				sourceType: "profile",
				screenName: "fabric"
				}, document.getElementById("container"))